.App {
  text-align: center;
}
.result{
  height: 60px;
  background-color: aquamarine;
  width: 100%;
}
.result p{
  font-size: 40px;
  margin: 5px;
}

.body{
  max-width: 400px;
  margin: auto;
}

.button{
  display: block;
  background-color: aquamarine;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
